*.iml
.gradle
/local.properties
/.idea
/.idea/caches
/.idea/libraries
/.idea/modules.xml
/.idea/workspace.xml
/.idea/navEditor.xml
/.idea/assetWizardSettings.xml
.DS_Store
/build
/captures
.externalNativeBuild
.cxx

/center-ui/build
/center-ui/libs

/center-domain/build
/center-domain/libs

/center-data/build
/center-data/libs

/center-logic/build
/center-logic/libs
